fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
pdfplumber
python-docx
python-pptx
openpyxl
odfpy
striprtf
Pillow
numpy
requests
pytesseract
openai-whisper
pymysql
psycopg2-binary
insightface
opencv-python
qdrant-client
redis
celery
minio
prometheus-client
sentence-transformers
# FAISS - CPU 版本（默认）
# faiss-cpu

# ONNX Runtime - CPU 版本（默认）
# onnxruntime

# GPU 版本（已启用）
faiss-gpu
onnxruntime-gpu
torch
